
$cinereous: #b09e99ff;
$misty-rose: #fee9e1ff;
$apricot: #fad4c0ff;
$moonstone: #64a6b5ff;
$columbia-blue: #c5ecfcff;
$vivid-sky-blue: #1ac8edff;
$charcoal: #516777;


//$cinereous: rgba(176, 158, 153, 1);
//$misty-rose: rgba(254, 233, 225, 1);
//$apricot: rgba(250, 212, 192, 1);
//$moonstone: rgba(100, 166, 181, 1);
//$columbia-blue: rgba(197, 236, 252, 1);