.contentlogin-div {
  max-width: 1400px;
  color: $columbia-blue;
}

.contentlogin-line1 {
  margin: 0;
  padding-bottom: 7px;
}

.contentlogin-line2 {
  margin: 0;
  padding-bottom: 7px;
}

.contentlogin-line3 {
  margin: 0;
  padding-bottom: 30px;
}
