.instruction-div {
    text-align: justify;
    color: $charcoal;
    width: 900px;
    font-size: 1rem;

    @media only screen and (max-width: 480px) {
        width: 90%;
    }
    @media only screen and (min-width: 481px) and (max-width: 900px) {
        width: 90%;
    }
}

.instruction-title {
    font-size: 1rem;
    margin-bottom: 15px;
    
    span {
        font-family: $font-logo;
        color: $cinereous;
        font-size: 1.3em;
    }

    @media only screen and (max-width: 480px) {
        font-size: 0.8em;
    }
}

.instruction-btn {
    margin: 0 10px;
    color: $vivid-sky-blue;
    font-weight: bold;
    background-color: $misty-rose;
    padding: 3px 7px;

    &:hover {
        background-color: $apricot;
        color: $charcoal;
    }
}

.instruction-hidden-div {
    text-align: left;
    font-size: 1rem;
    line-height: 1.8em;
    margin-bottom: 50px;

    span {
        font-family: $font-logo;
        color: $cinereous;
        font-size: 1.2em;
    }

    @media only screen and (max-width: 480px) {
        font-size: 0.9em;
    }
}

.instruction-line {

    span {
        font-weight: bold;
        font-family: $font-basic;
        font-size: 1em;
        line-height: 1.9em;
        color: $charcoal;
    }
}

.instruction-line-last {

    span {
        font-family: $font-logo;
        color: $cinereous;
        font-size: 1.2rem;
        font-weight: 400;
    }
}