.main-div {
  //max-width: 1400px;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container-div {
  width: 100vw;
  max-width: 1400px;
  //background-color: #fffbf9;
  background-color: $main-background;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-top-bar {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-top-bar-logo {
  font-family: $font-logo;
  font-size: 2.5em;
  color: $vivid-sky-blue;
}

.main-top-bar-btn {
  padding: 5px 28px;
  background-color: $cinereous;
  color: white;
  font-weight: bold;
  height: 31px;
  margin-right: 17px;

  &:hover {
    background-color: $charcoal;
  }
  @media only screen and (max-width: 480px) {
    margin-top: 8px;
    margin-right: 5px;
  }
}

.todolist-container {
  width: 1000px;
  height: 100%;
  background-color: $moonstone;

  border-radius: 10px;

  margin-top: 30px;
  margin-bottom: 70px;
  box-shadow: 0 6px 6px rgba(17, 17, 17, 0.35);

  @media only screen and (min-width: 481px) and (max-width: 1040px) {
    width: 90%;
  }

  @media only screen and (max-width: 480px) {
    width: 90%;
  }
}

.main-form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-form-input {
  width: 60%;
  height: 35px;
  font-size: 1em;
  line-height: 25px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  @media only screen and (max-width: 480px) {
    height: 30px;
    font-size: 0.8em;
  }
}

.main-form-btn {
  //margin-left: 5px;
  padding: 6px 30px;
  font-weight: bold;
  background-color: $charcoal;
  color: white;
  border-radius: 3px;
  box-shadow: none;
  height: 35px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  //box-shadow: 0 3px 3px rgba(17, 17, 17, 0.35);
  &:hover {
    background-color: $apricot;
    color: $charcoal
  }

  @media only screen and (max-width: 480px) {
    height: 30px;
    padding-bottom: 25px;
    padding-top: 4px;
  }
}

//----------LIST------------------------
ul {
  background-color: $main-background;
  width: 90%;

  list-style: none;
  margin-left: 50px;
  border-radius: 10px;

  box-shadow: 0 6px 6px rgba(17, 17, 17, 0.35);

  @media only screen and (min-width: 481px) and (max-width: 1040px ) {
    width: 87%;
    margin-left: 40px;
  }
  @media only screen and (max-width: 480px) {
    width: 85%;
    margin-left: 25px;
  }
}

ul li {
  text-align: left;
  padding-left: 20px;

  padding-bottom: 7px;
  padding-top: 7px;

  color: $charcoal;

  //!!!!!!!!!!!!!!!!
  word-break: break-all;  //przydatne- zmusza do podziału za długi wyraz!!! uważać przy linkach

  @media only screen and (max-width: 480px) {
   padding-bottom: 5px;
   padding-top: 5px;
   padding-left: 10px;
   font-size: 0.7em;
  }
}

ul li:nth-child(even) {
  background-color: $columbia-blue;
}

ul li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul li.done {
  background: #646363;
  color: #fff;
  text-decoration: line-through;
}

.todolist-li-btn {
  margin-left: 30px;
  padding: 5px 15px;
  background-color: $misty-rose;
  color: $charcoal;
  font-weight: bold;

  &:hover {
    background-color: $apricot;
  }

  @media only screen and (max-width: 480px) {
    padding: 3px 10px;
    font-size: 0.8em;
  }
}

.main-btn-renewlist {
  margin: 40px 0;
  padding: 7px 30px;
  font-weight: bold;
  background-color: $vivid-sky-blue;
  color: $main-background;

  &:hover {
    background-color: $charcoal;
  }
}