.main-content-text-div {
  max-width: 1200px;
  color: $charcoal;
  margin: 20px;
  padding-bottom: 20px;
  line-height: 1.6em;

  span {
    font-family: $font-logo;
    font-size: 1.2em;
    color: $apricot
  }

  @media only screen and (max-width: 480px) {
    font-size: 0.8em;
  }
}

.main-content-text-line {
  margin-bottom: 7px;
}