.main-content-text-div {
  max-width: 1200px;
  color: $charcoal;
  margin: 10px 15px;
  padding-bottom: 15px;
  line-height: 1.6em;
  font-size: 1rem;

  span {
    font-family: $font-logo;
    font-size: 1.3em;
    color: $apricot
  }

  @media only screen and (max-width: 480px) {
    font-size: 0.9em;
  }
}

.main-content-text-line {
  margin-bottom: 7px;
}