.notfound-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 900px) {
        max-width: 90vw;
        max-height: 90vh;
      }
}

.notfound-btn {
    max-width: 1400px;
    width: 150px;
    background-color: $apricot;
    color: $vivid-sky-blue;
    font-weight: 650;
    &:hover {
        background-color: $charcoal;
    }
}