.welcome {
  max-width: 1400px;
  color: $charcoal;
  padding: 0 10px;
  line-height: 1.6rem;

  @media only screen and (max-width: 550px) {
    padding-top: 10px;
    font-size: 1em;
  }
}

.welcome-line1 {
  font-size: 1.2em;
  margin: 0 0 8px 0;
  font-weight: 500;

  span {
    font-family: $font-logo;
    color: $cinereous;
    font-size: 1.3em;
  }
}

.welcome-line2 {
  margin: 0;
  padding-bottom: 7px;
}

.welcome-line3 {
  margin: 0;
  padding-bottom: 7px;

  span {
    font-family: $font-logo;
    color: $cinereous;
    font-size: 1.2em;
  }
}

.welcome-line4 {
  margin: 0;
  padding-bottom: 20px;

  @media only screen and (max-width: 480px) {
    padding-bottom: 18px;
  }
}
