@import "generic/_reset.scss";
@import "settings/_colors.scss";
@import 'elements/_fonts.scss';

@import "elements/_footer.scss";
@import "elements/_signup.scss";
@import "elements/_welcome.scss";
@import 'elements/_buttons.scss';
@import 'elements/_inputs.scss';
@import "elements/_signin.scss";
@import "elements/_contentLogIn.scss";
@import "elements/_mainpage.scss";
@import "elements/_mainContentText.scss";
@import 'elements/_notFound.scss';
@import 'elements/_instruction.scss';



#root {
  font-family: $font-basic;
  margin: 0 auto;
  width: 100vw;
}